:root {
  --item-border-size: 1px;
  --item-margin: 2px;
  --img-size: 200px;
  --item-width: calc(var(--item-border-size) + var(--item-margin) + var(--img-size));
}

header {
  display: flex;
  justify-content: space-between;
}
header > h1 {
  display: block;
}
.header-selector {
  display: block;
  flex-direction: row;
  justify-content: center
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  margin: 0px;
}

main {  /* bloque principal */
	display: flex;
	flex-direction: row;
	justify-content:space-between;
}
.padding-bar {
  width: 0.8%;
}

/* selector styles */
#asset-selector {
  padding: 7px;
  position: sticky;
  top: 0;
  align-self: flex-start; /* corrector para que funcione el position sticky */
}
.attrib-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.attrib-trigger {
  display: block;
}
.attrib-trigger > h2 {
  margin: 0px;
}
.attrib {
  padding-left: 5px;
}


/* display styles */
#display {
  width: calc(var(--item-width) * 5 + 15px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* item styles */
.item {
  border: var(--item-border-size) solid darkgrey;
  border-radius: 4px;
  margin: var(--item-margin);
  height: 275px;
}
.item > img {
  height: var(--img-size);
  width: var(--img-size);
}
.item-data {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.item-name {
  font-size: 1em;
}
